<footer class="bg-light">
  <div class="container-fluid d-flex justify-content-between mt-4">
    <p>
      <%= link_to "Terms of Service", "#", class: "text-secondary fs-6" %>
    </p>
    <p class="text-secondary fs-6">
      &copy; <%= Date.current.year %> Scheduler
    </p>
    <p>
      <%= link_to "Privacy Policy", "#", class: "text-secondary fs-6" %>
    </p>
  </div>
</footer>